body {
  background-image: url("../images/pattern.png");
  font-family: 'Handlee', cursive;
  font-weight: 900;
}

#header{
  font-size: 65px;
  margin: 15px 0px 10px;
}

#P1Name,#P2Name,#messageDiv{
  font-size: 25px;
}
#statusP1,#statusP2{
  font-size:20px;
}
#messageDiv{
  margin:10px 0px;
}

#FinalResults{
  font-size: 30px;
  color: #a31413;
}
#chatlabel{
  margin:40px 0px 0px 5px;
}
#chat {
  overflow: auto;
  height: 180px;
  background-color: #1e1e1e;
  color: #fff;
  text-align: left;
  opacity: .8;
  border-radius: 15px;
  border: 5px white solid;
  font-family: 'Inconsolata', monospace;
}
#chatInput{
  color:black;
  height:60px;
  resize: none;
}
input,#chatInput,.btn{
  font-family: 'Inconsolata', monospace;
}

.attack{
  height:96px;
}

#scoreP1c,#scoreP1t,#scoreP2c,#scoreP2t{
  font-weight: 300;
}

h6{
  font-weight: 900;
  margin: 0px;
}

/* Media Query */
@media only screen and (max-width: 580px) {
  #header{
  font-size: 30px;
  margin: 5px 0px;
  }
  #P1Name,#P2Name,#messageDiv{
    font-size: 18px;
  }
  #statusP1,#statusP2{
    font-size:13px;
  }
  #messageDiv{
    margin:5px 0px;
  }
  #FinalResults{
  font-size: 20px;
  color: #a31413;
  }
  #chatlabel{
    margin:20px 0px 0px 5px;
  }
  #chat {
    height: 110px;
  }
  #chatInput{
    height:30px;
  }
  .attack{
    height:48px;
  }
  h6{
  font-size:15px;
  }
  #scoreP1c,#scoreP1t,#scoreP2c,#scoreP2t{
  font-size: 13px;
}
}
